header {
    position: fixed;
    width: 100%;
    z-index: 20;
    & nav {
        max-width: 1280px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        
        & #logo {
             & img{
                width: 12vw;
                min-width: 120px;
            }
        }
        & #nav {
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & ul {
                display: flex;
                flex-grow: 1;
                justify-content: space-around;
                & li {
                        
                    & i {
                        display: none;
                    }
                    & a {
                        position: relative;
                        text-decoration: none;
                    }
                    & a:hover {
                    }
            
                    & a:after {
                        content: '';
                            position: absolute;
                            transform: scaleX(0);
                            width: 100%;
                            height: 2px;
                            background-color: #f58078;
                            transition: transform 0.25s ease-out;
                            bottom: -2px;
                            left: 0;
                        }
                
                        & a:hover:after {
                            transform: scaleX(1);
                        }
                     }
                }
            
    }
}
        & #toggle-nav {
            display: none;
        }
}

#homepage-header {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;  /* Ajuste la hauteur du header */
    z-index: 10;  /* Pour le mettre au-dessus du hero-header */
    & nav {
        & div {
            & a {
                color: #EFE7DD ;

            }
        }
    }
  }

  #homepage-nav {
    transition: background-color 0.3s ease;
  }
  
  #homepage-nav.scrolled {
    background-color: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(5px);
  }
  
  #homepage-nav.out-of-hero {
    background-color: #EFE7DD;
  
    a {
      color: #156064;
    }
  }



@media only screen and (max-width: 1280px) {
    header {
        & nav {
        }    
    }
}

// tablette
@media only screen and (max-width: 768px) {
    header {
        & nav {
            & #nav {
                position: fixed;
                right: 0px;
                top: calc(60px + 1rem); 
                padding: 8px;
                transform: translateX(100vw);
                transition: transform 0.7s;
                background-color: #7bc5b5;
                display: flex;
                flex-direction: column;
                width: 50vw;
                max-width: 200px;
                min-height: 300px;
                height: 70vh;
                border-radius: 8px 0 0 8px;
                & ul {
                    flex-direction: column;
                    width:fit-content;
                    & li {
                        display: flex;
                        align-items: center;
                        & a {
                            display: flex;
                            width: fit-content;
                            padding: 8px 0;
                            color: #EFE7DD !important;
                        }
                        & i {
                            display: block;
                            font-size: 16px;
                            margin-right: 0.5rem;
                            }
            
                        
                    }
                }
            }

            & #nav.mobile {
                transform: translateX(0);
            }
        
            & #id-toggle-nav {
                display: flex;
                align-items: center;

                & i#toggle-nav {
                    display: block;
                    font-size: 30px;
                    padding-right: 1rem;
                    color: #156064;
                    cursor: url('/assets/cursor/icone_pied_coeur25px.cur'), pointer;
                }

            }
            
        }
    }

    #homepage-nav {
        & #id-toggle-nav {
            & #toggle-nav {
        color: #EFE7DD;
            }
      }
    }


    #homepage-nav.out-of-hero #toggle-nav {
        color: #156064;
      }
 }
  



// mobile
@media only screen and (max-width: 576px) {
    header {
        & nav {
            & #nav {
                & ul {
                }
            }
        }
    }
}