@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Abril Fatface";
  src: url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.eot");
  src: url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.woff") format("woff"), url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/4abc7b446177a4b533468cd3635fe0b6.svg#Abril Fatface") format("svg");
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.eot");
  src: url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.woff") format("woff"), url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/b272450a19485b6e0cefb63200382c4a.svg#Caviar Dreams") format("svg");
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.eot");
  src: url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0307c7a01678f977185f260b8e16dfbc.svg#Caviar Dreams Bold") format("svg");
}
@font-face {
  font-family: "Caviar Dreams Italic";
  src: url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.eot");
  src: url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.woff") format("woff"), url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/57a5c54404dbca01dcdda24dce621923.svg#Caviar Dreams Italic") format("svg");
}
@font-face {
  font-family: "Caviar Dreams Bold Italic";
  src: url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.eot");
  src: url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.woff") format("woff"), url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/2eb2649df9665616da784c94ae4c2910.svg#Caviar Dreams Bold Italic") format("svg");
}
@font-face {
  font-family: "Oranienbaum";
  src: url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.eot");
  src: url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.woff") format("woff"), url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/09850c3d018f2cb9cc4391a7e1e788bd.svg#Oranienbaum") format("svg");
}
* {
  scroll-behavior: smooth;
  color: #156064;
}

body {
  background-color: #EFE7DD;
}

html {
  font-family: "Caviar Dreams Bold";
  height: 100vh; /* Fallback for browsers that do not support Custom properties*/
  height: calc(var(--vh, 1vh) * 100);
}

header a {
  cursor: url("/assets/cursor/icone_pied_coeur25px.cur"), pointer;
}

button {
  font-family: "Caviar Dreams";
  font-size: 20px;
  background: transparent;
  color: #156064;
  padding: 12px 30px;
  border-radius: 6px;
  border-style: solid;
  border-color: #156064;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -moz-fit-content;
  width: fit-content;
  cursor: url("/assets/cursor/icone_pied_coeur25px.cur"), pointer;
}

button:hover {
  font-family: "Caviar Dreams Bold";
}

h1,
h2,
h3 {
  font-family: "Oranienbaum";
}

img {
  max-width: 100%;
}

ul li {
  list-style-type: none;
}
ul li a {
  position: relative;
  text-decoration: none;
}

textarea {
  resize: none;
}

a:not(#logo a):not(#reseaux-mobile a):not(#reseaux a):hover:after,
a.active:not(#logo a):not(#reseaux-mobile a):not(#reseaux a):after {
  transform: scaleX(1);
  bottom: -2px;
}

#scroll-to-top {
  display: none;
  position: fixed;
  font-size: 2rem;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.112);
  border-radius: 4px;
  padding: 2px;
}

#scroll-to-top.mobile {
  position: relative;
  right: inherit;
  bottom: inherit;
  width: 2rem;
  -webkit-backdrop-filter: inherit;
          backdrop-filter: inherit;
  background-color: transparent;
  border-radius: inherit;
}

main {
  max-width: 1280px;
  position: relative;
  margin: auto;
}
main section {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 20;
}
header nav {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
header nav #logo img {
  width: 12vw;
  min-width: 120px;
}
header nav #nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav #nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
header nav #nav ul li i {
  display: none;
}
header nav #nav ul li a {
  position: relative;
  text-decoration: none;
}
header nav #nav ul li a:after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #f58078;
  transition: transform 0.25s ease-out;
  bottom: -2px;
  left: 0;
}
header nav #nav ul li a:hover:after {
  transform: scaleX(1);
}
header #toggle-nav {
  display: none;
}

#homepage-header {
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ajuste la hauteur du header */
  z-index: 10; /* Pour le mettre au-dessus du hero-header */
}
#homepage-header nav div a {
  color: #EFE7DD;
}

#homepage-nav {
  transition: background-color 0.3s ease;
}

#homepage-nav.scrolled {
  background-color: rgba(0, 0, 0, 0.42);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#homepage-nav.out-of-hero {
  background-color: #EFE7DD;
}
#homepage-nav.out-of-hero a {
  color: #156064;
}

@media only screen and (max-width: 768px) {
  header nav #nav {
    position: fixed;
    right: 0px;
    top: calc(60px + 1rem);
    padding: 8px;
    transform: translateX(100vw);
    transition: transform 0.7s;
    background-color: #7bc5b5;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 200px;
    min-height: 300px;
    height: 70vh;
    border-radius: 8px 0 0 8px;
  }
  header nav #nav ul {
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav #nav ul li {
    display: flex;
    align-items: center;
  }
  header nav #nav ul li a {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px 0;
    color: #EFE7DD !important;
  }
  header nav #nav ul li i {
    display: block;
    font-size: 16px;
    margin-right: 0.5rem;
  }
  header nav #nav.mobile {
    transform: translateX(0);
  }
  header nav #id-toggle-nav {
    display: flex;
    align-items: center;
  }
  header nav #id-toggle-nav i#toggle-nav {
    display: block;
    font-size: 30px;
    padding-right: 1rem;
    color: #156064;
    cursor: url("/assets/cursor/icone_pied_coeur25px.cur"), pointer;
  }
  #homepage-nav #id-toggle-nav #toggle-nav {
    color: #EFE7DD;
  }
  #homepage-nav.out-of-hero #toggle-nav {
    color: #156064;
  }
}
#hero-header {
  background-image: url(/assets/photos/plunie_chaussures_barefoot.jpg);
  background-size: cover; /* L'image couvre toute la largeur et la hauteur de l'élément */
  background-position: top center; /* Positionne l'image au centre */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 80px; /* Ajuste la hauteur si nécessaire pour ne pas chevaucher le header */
  padding-bottom: 60px; /* Ajuste la partie inférieure du hero-header */
  display: flex;
  flex-direction: column; /* empile les enfants en colonne */
  justify-content: space-between; /* espace entre le h1 (en haut) et le bouton (en bas) */
  align-items: flex-start; /* aligne le contenu à gauche */
}
#hero-header #H1-home {
  font-family: "Abril Fatface";
  font-size: 26px;
  letter-spacing: 2px;
  line-height: 3rem;
  color: #EFE7DD;
  text-align: center;
  margin: 18vh 12vw;
}

#button-hero-header {
  color: #efe7dd;
  border-style: solid;
  border-color: #efe7dd;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 40px;
}

@media only screen and (max-width: 768px) {
  #hero-header #H1-home {
    font-size: 20px;
    line-height: 2rem;
  }
  #hero-header div button {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  #hero-header #H1-home {
    margin: 10vh 12vw;
  }
}
footer {
  max-width: 1280px;
  margin: auto;
  border-top: 1px solid rgba(21, 96, 100, 0.3);
  padding: 2rem 1rem;
  position: relative;
  text-align: center;
  font-size: 0.9rem;
}
footer #grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
footer #grid #nav-footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}
footer #grid #nav-footer ul li a {
  text-decoration: none;
  color: #156064;
  transition: color 0.3s;
}
footer #grid #nav-footer ul li a:hover {
  color: #f58078;
}
footer #grid #reseaux_sociaux {
  display: flex;
  gap: 1rem;
}
footer #grid #reseaux_sociaux a {
  font-size: 1.2rem;
}
footer #grid #reseaux_sociaux a i:hover {
  color: #f58078;
}
footer #grid #banniere_footer {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

@media only screen and (max-width: 576px) {
  footer #grid {
    flex-direction: column;
    align-items: center;
  }
  footer #grid #nav-footer ul {
    justify-content: center;
    gap: 1rem;
  }
}
main#accueil section#boutique-section {
  padding: 0 2rem;
}
main#accueil section#boutique-section h2 {
  font-size: 3rem;
  letter-spacing: 1.5px;
  margin: 3rem;
}
main#accueil section#boutique-section #products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
main#accueil section#boutique-section #products-grid .product-card {
  text-align: left;
}
main#accueil section#boutique-section #products-grid .product-card img {
  width: 100%;
  display: block;
  border-radius: 5px;
}
main#accueil section#boutique-section #products-grid .product-card h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0 0.3rem;
  font-weight: 600;
}
main#accueil section#boutique-section #products-grid .product-card .color {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
main#accueil section#boutique-section #products-grid .product-card .price {
  font-size: 1rem;
  font-weight: bold;
  color: #595959;
}
main#accueil section#boutique-section #products-grid .product-card .invisible {
  visibility: hidden;
}
main#accueil section#pourquoi-choisir-plunie {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem 2rem;
  min-height: 280px;
}
main#accueil section#pourquoi-choisir-plunie #texte-pourquoi {
  min-width: 280px;
}
main#accueil section#pourquoi-choisir-plunie #texte-pourquoi h2 {
  line-height: 2.5;
  font-size: 2rem;
}
main#accueil section#pourquoi-choisir-plunie #texte-pourquoi ul {
  line-height: 1.4;
}
main#accueil section#pourquoi-choisir-plunie #texte-pourquoi ul li {
  font-family: "Caviar Dreams";
  color: #0f4e51;
  margin-bottom: 1rem;
}
main#accueil section#pourquoi-choisir-plunie #texte-pourquoi ul li strong {
  font-weight: 800;
  color: #156064;
}
main#accueil section#pourquoi-choisir-plunie #image-pourquoi {
  max-width: 300px;
  height: 100%;
}
main#accueil section#pourquoi-choisir-plunie #image-pourquoi img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
main#accueil section#pictogrammes div#pictos-div {
  display: flex;
}
main#accueil section#pictogrammes div#pictos-div .pictos {
  max-width: 110px;
}
@media screen and (max-width: 768px) {
  main#accueil section#pourquoi-choisir-plunie {
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }
  main#accueil section#pourquoi-choisir-plunie #texte-pourquoi {
    width: 100%;
  }
  main#accueil section#pourquoi-choisir-plunie #texte-pourquoi h2 {
    font-size: 1.7rem;
  }
  main#accueil section#pourquoi-choisir-plunie #texte-pourquoi ul li {
    font-size: 1rem;
  }
  main#accueil section#pourquoi-choisir-plunie #image-pourquoi {
    width: 100%;
    max-width: none;
    height: auto;
    display: flex;
    justify-content: center;
  }
  main#accueil section#pourquoi-choisir-plunie #image-pourquoi img {
    width: 60vw;
  }
}/*# sourceMappingURL=style.css.map */